* {
  all: unset;
}

.counter {
  background: transparent;
}

.counter-number {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 700px;
  color: #FFFFFF;
  opacity: 0.9;
}

.errormode {
  background: transparent;
}
